@charset "utf-8";
/*css document*/

*{
    box-sizing: border-box;margin: 0; text-decoration: none;
}

body, html{
    width: 100%;
    height: 100%;
    font-family: Gotham, "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #666;
    scroll-behavior: smooth;
}

header{
    width: 100%;
    height: 100%;
    background-image: url(../imagens/intro-bg.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.titulo{
    color: #f0f8ff;
    font-size: 42px;
    font-weight: bold;
    padding-left: 2%;
    padding-top: 8%;
}

.subtitulo{
    color: #f0f8ff;
    font-size: 18px;
    font-weight: lighter;
    padding-left: 2%;
}

nav{
    width: 100%;
    height: 60px;
    background-color: rgba(0,0,0,0.7);
    text-align: center;
    margin-top: -60px;
    z-index: 5;
}

nav a{
    color: #f0f8ff;
    display: inline-block;
    padding: 20px;
    letter-spacing: 2px;
    position: relative;
    z-index: 1;
    transition: 0.5s;
}
nav a:after{
    content: "";
    width: 100%;
    height: 0;
    background-color: #4ca3d4;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: 0.5s;
}

nav a:hover:after{
    height: 100%;
}

nav a:hover{
    color: #333;
}

section{
    width: 100%;
    height: 100%;
}

.titulogeral{
    text-align: center;
    padding-top: 6%;
    width: 20%;
    border-bottom: 2px solid #666;
    margin: 5% auto 2%;
}

.imgsobre{
    margin: auto;
    border-radius: 50%;
    display: block;
}

.paragrafo{
    width: 70%;
    margin: 2% auto;
    text-align: justify;
}

.fixamenu{
    position: fixed;
    top: 0;
    margin-top: 0;
}

#habilidades{
    background-image: url(../imagens/surf3.jpg);
    color: #f0f8ff;
    background-size: cover;
    background-attachment: fixed;
}

.textohtml, .textocss, .textojquery, .textophoto, .textofront, .textoai{
    width: 140px;
    float: left;
    margin-left: 10%;
    padding: 1%;
    text-align: right;
    margin-bottom: 10px;
}

.html, .css, .jquery, .front, .photo, .ai{
    background-color: #4ca3d4;
    margin-bottom: 10px;
    width: 0;
    display: flex;
    justify-content: flex-end;
    padding: 1% 0;
    font-weight: bold;
    color: #333;
    overflow: hidden;
    transition: 0.5s;
}

.animahtml{
    width: 35%;
    padding: 1%;
    transition-delay: 0.1s;
}

.animacss{
    width: 33%;
    padding: 1%;
    transition-delay: 0.2s;
}

.animajquery{
    width: 36%;
    padding: 1%;
    transition-delay: 0.3s;
}

.animafront{
    width: 34%;
    padding: 1%;
    transition-delay: 0.4s;
}

.animaphoto{
    width: 35%;
    padding: 1%;
    transition-delay: 0.5s;
}

.animaai{
    width: 32%;
    padding: 1%;
    transition-delay: 0.6s;
}

#habilidades h2{
    margin-bottom: 6%;
}

.galeria{
    width: 90%;
    margin: auto;
}

.galeria img{
    width: 99%;
    margin: auto;
    border-radius: 20px;
}

#portifolio h2{
    margin-bottom: 8%;
}

.slick-prev:before, .slick-next:before{
    color: #333 !important;
}

#contato{
    background-color: #333;
    color: #f0f8ff;
}

#contato article{
    width: 50%;
    float: left;
    padding: 2%;
    height: 74%;
}

.campo{
    width: 100%;
    border: none;
    padding: 15px;
    margin: 2px 0;
    resize: none;
    font-size: 16px;
    font-family: Gotham, "Helvetica Neue", Arial, Helvetica, sans-serif;
    background-color: #ffffff;
}

.botao{
    width: 100%;
    background-color: #f0f8ff;
    color: #333;
    padding: 15px;
    border: transparent 2px solid;
    margin: 2px 0;
    cursor: pointer;
    font-weight: 800;
}

.botao:hover{
    border-color: #f0f8ff;
    color: #f0f8ff;
    background-color: transparent;
}

footer{
    background-color: #000;
    color: #f0f8ff;
    text-align: center;
    padding: 1%;
    font-size: 13px;
}

footer a{
    color: #f0f8ff9e;
    padding: 5px;
    font-size: 18px;
    display: inline-block;
    padding-bottom: 10px;
}

footer a:hover{
    color: #f0f8ff;
}

footer p{
    border-top: 1px solid #f0f8ff80;
    margin: 10px;
    padding: 5px;
}